body{
	box-sizing: border-box;
	border: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "Ubuntu";
	color: #201b2d;
	letter-spacing: 0.02em;
	line-height: 25px;
	font-weight: 400;
	max-width: 100%;
}

.wrapper{
	width: 1170px; 
	margin: 0 auto;
}

h1{
	font-size: 37px;
	line-height: 49px;
	font-weight: 700;
	padding-bottom: 10px;
	padding-right: 35px;
}

span{
	font-size: 59px;
	line-height: 73px;
}

h2{
	font-size: 30px;
	font-weight: 700;
	
}

h3{
	font-size: 19px;
	font-weight: 700;
}

a, button{
	font-family: "Montserrat";
	font-size: 15px;
	font-weight: 900;
	color: #2e2a1b;
	padding: 20px 25px;
	background: #ffd429;
	text-decoration: none;
}



/****************************************************************************/
.header{
padding-top: 62px;
padding-bottom: 72px;
background: #4dbdfd;
background: -moz-linear-gradient(-45deg, #4dbdfd 0%, #378ed8 100%);
background: -webkit-linear-gradient(-45deg, #4dbdfd 0%,#378ed8 100%);
background: linear-gradient(135deg, #4dbdfd 0%,#378ed8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbdfd', endColorstr='#378ed8',GradientType=1 ); 
color: #ffffff;
}

.logo{
	width: 98px;
	height: 38px;
}

.header__context{
	display: flex;
	align-items:center;
}

.text p{
	font-family: "Open Sans";
	font-size: 16px;
	line-height: 27px;
	padding-bottom: 45px;
	padding-right: 120px;
}

.big{
	width: 641px;
	height: 641px;
}


/************************************************************************************************/
.light{
	background: #ffffff;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 120px;
}

.light p{
	font-size: 15px;
	line-height: 22px;
}

.context__light{
	display: flex;
	justify-content: space-between;
	padding-top: 60px;	
}

.column{
	width: 300px;
}





/*****************************************************************************************************/
.dark{
	background: #ecf3f8;
	text-align: center;
	padding-top: 90px;
	padding-bottom: 123px;
}

form{
	display: flex;
	flex-direction: column;
	max-width: 340px;
	margin: 0 auto;
	margin-bottom: 10px;
}

input{
	width: 100%;
	height: 48px;
	border: 1px solid #bbbbbb;
	border-radius: 3px;
	padding: 0px 15px;
	opacity: 0.54;
	font-size: 15px;
	margin-top: 7px;
	margin-bottom: 7px;
}

button{
	width: 110%; 
	margin-top: 7px;
}


/***********************************************************************************************/
.footer{
	background: #164d7a;
	color: #ffffff;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 14px;
	padding-top: 40px;
	padding-bottom: 40px;
}


/************************************************************************************************/
a:hover{
	background: #ad901a;
}

button:hover{
	background: #ad901a;
}
